<div class="page-banner-area ">
	<div class="container">
		<div class="row">
			<div class="page-banner">
				<h1>BÚSQUEDA POR {{titulo}}</h1>
				<span class="color-white">
					<a class="color-white" [routerLink]="['/inicio']">INICIO</a> / 
					<a class="color-white" [routerLink]="['/catalogo']">CATÁLOGO</a>
				</span>
			</div>
		</div>
	</div>
</div>


<div class="container p-5" >
	<div fxFlex="100" fxLayout="column" class="about-content-autores fix">
		<div fxFlex="100">
			<h3 class="">{{subTitulo}}</h3><br>
		</div>
  </div>
  <div fxFlex="100" fxLayout="column" class="">
		<div fxFlex="100">
			aqui iria datatable
		</div>
  </div>
</div>