<div class="page-banner-area ">
	<div class="container">
		<div class="row">
			<div class="page-banner">
				<h1>CATÁLOGO DE TESIS DIGITALES</h1>
				<span class="color-white">
					<a class="color-white" [routerLink]="['/inicio']">INICIO</a> / 
					<a class="color-white" [routerLink]="['/catalogo']">CATÁLOGO</a>
				</span>
			</div>
		</div>
	</div>
</div>

<div class="container p-5" >
	<div fxFlex="100" fxLayout="column" class="about-content-autores fix">
		<div fxFlex="100">
			<h3 class="">Lista de autores<span> Orden alfabetico</span></h3><br>
		</div>
		<div fxFlex="50" fxLayout="column"  class="">
			<div fxFlex fxLayoutAlign="center">
				<hr class="mbautores">
			</div>
		</div>
		<div fxFlex="100">
			<p class="text-center">
				Búsqueda por:<br>
				Fecha titulo
			</p>
		</div>
		<div fxFlex="50" fxLayout="column"  class="">
			<div fxFlex fxLayoutAlign="center">
				<hr class="mbautores">
			</div>
		</div>
		<div fxFlex="100">
			<p class="text-center">
				Búsqueda por autor:<br>
				A B C D E 
			</p>
		</div>
		<div fxFlex="50" fxLayout="column"  class="">
			<div fxFlex fxLayoutAlign="center">
				<hr class="mbautores">
			</div>
		</div>

		
	</div>
</div>

<!-- <div class="about-content col-lg-11 col-lg-offset-1">
	<h1>Humanidades y <span>Ciencias Sociales.</span></h1><br><br>
<div class="row">
<div class="single-feature col-sm-12">
<hr class="light">
	 <a href="LCArte.php">Arte y patrimonio cultural.</a><br>
	 <a href="LCciencia_politica.php">Ciencia Política y Administración Urbana.</a> <br>
	 <a href="LCcomunicacion.php">Comunicación y cultura.</a><br>
	 <a href="LCCreacion.php">Creación literaria.</a><br>
	 <a href="LCfilosofia.php">Filosofía e historia de las ideas.</a><br>
	 <a href="LCHistoria.php">Historia y Sociedad contemporánea.</a><br>
	 <a href="LCDerecho.php">Derecho.</a><br>

</div>
</div>
</div> -->



<div>
	<div fxFlex="100" fxLayout="column" fxLayout.gt-sm="row">
		<div fxFlex="100" fxFlex.gt-sm="50" >
			<img src="/assets/home/bottom/1.jpg" class="d-block w-100" alt="...">
		</div>

		<div fxFlex="100" fxFlex.gt-sm="50" fxLayout="column" fxLayoutAlign="center center" class="amenities" >
			
			<div fxFlex="30" fxLayout="column"  class="mb-4" >
				<div fxFlex="70" fxLayoutAlign="center end" class="about-content">
					<h1>Humanidades y <span>Ciencias Sociales.</span></h1><br><br>
				</div>
				<!-- <div fxFlex="27" fxLayoutAlign="center center">
					<span>Conoce nuestros metodos de busqueda.</span>
				</div> -->
				<div fxFlex="3" fxLayout="column"  class="">
					<div fxFlex>
						<hr class="style-two">
					</div>
				</div>
			</div>
			
			<div fxFlex="60" fxLayout="column" class="mt-4">
				<div fxFlex="45" fxLayout="column" fxLayoutAlign="center">
					
					<span [routerLink]="['/nosotros']" class="pointer">Arte y patrimonio cultural.</span>
					<span [routerLink]="['/nosotros']" class="pointer">Ciencia Política y Administración Urbana.</span>
					<span [routerLink]="['/nosotros']" class="pointer">Comunicación y cultura.</span>
					<span [routerLink]="['/nosotros']" class="pointer">Creación literaria.</span>
					<span [routerLink]="['/nosotros']" class="pointer">Filosofía e historia de las ideas.</span>
					<span [routerLink]="['/nosotros']" class="pointer">Historia y Sociedad contemporánea.</span>
					<span [routerLink]="['/nosotros']" class="pointer">Derecho.</span>
				</div>
			</div>
			
			
		</div>
	</div>
</div>

<!-- <div id="feature-area" class="feature-area1 section pb-20 pt-80">
	<div class="container">
		<div class="row">

				<div class="about-content col-md-6">
					 <h1>Ciencia y <span>Tecnología.</span></h1> <br><br>


						<div class="row">

								<div class="single-feature col-sm-12">
									 <hr class="light">
								 <a href="LCSistema_transporte.php">Ing. en Sistemas de Transporte Urbano.</a><br>
								 <a href="LCSistemas_industriales.php">Ing. en Sistemas Electrónicos Industriales.</a><br>
								 <a href="LCSoftware.php">Ing. en Software.</a><br>
								 <a href="LCTelecom.php">Ing. en Sistemas Electrónicos y de Telecomunicaciones.</a><br>
								 <a href="LCSistemas_energeticos.php">Ing. en Sistemas Energéticos.</a><br>
								 <a href="LCModMat.php">Modelación matemática.</a><br>
								</div>



						</div>

				</div>

		</div>
	</div> -->
<div>
	<div fxFlex="100" fxLayout="column" fxLayout.gt-sm="row">
		<div fxFlex="100" fxLayout="row" fxLayoutAlign="" class="amenitiesCienciaTec" >
			
			<div fxFlex="100" fxFlex.gt-sm="50" fxLayout="column" fxLayoutAlign="center center" class="amenitiesazul">
				<div fxFlex="30" fxLayout="column"  class="mb-4 " >
					<div fxFlex="70" fxLayoutAlign="center end" class="about-content">
						<h1>Ciencia y <span>Tecnología.</span></h1><br><br>
					</div>
					<div fxFlex="3" fxLayout="column"  class="">
						<div fxFlex>
							<hr class="style-two">
						</div>
					</div>
				</div>
				
				<div fxFlex="60" fxLayout="column" class="mt-4">
					<div fxFlex="45" fxLayout="column" fxLayoutAlign="center">
						
						<span [routerLink]="['/nosotros']" class="pointer">Ing. en Sistemas de Transporte Urbano.</span>
						<span [routerLink]="['/nosotros']" class="pointer">Ing. en Sistemas Electrónicos Industriales.</span>
						<span [routerLink]="['/nosotros']" class="pointer">Ing. en Software.</span>
						<span [routerLink]="['/nosotros']" class="pointer">Ing. en Sistemas Electrónicos y de Telecomunicaciones.</span>
						<span [routerLink]="['/nosotros']" class="pointer">Ing. en Sistemas Energéticos.</span>
						<span [routerLink]="['/nosotros']" class="pointer">Modelación matemática.</span>
						
					</div>
				</div>
			</div>
			
			
			
			
			
		</div>
		<!-- <div fxFlex="100" fxFlex.gt-sm="50" >
			<img src="/assets/catalogo/bg1.jpg" class="d-block w-100" alt="...">
		</div> -->
		
	</div>
</div>


<div>
	<div fxFlex="100" fxLayout="column" fxLayout.gt-sm="row">
		<div fxFlex="100" fxFlex.gt-sm="40" >
			<img src="/assets/home/bottom/1.jpg" class="d-block w-100" alt="...">
		</div>

		<div fxFlex="100" fxFlex.gt-sm="60" fxLayout="column" fxLayoutAlign="center center" class="amenities" >
			
			<div fxFlex="30" fxLayout="column"  class="mb-4" >
				<div fxFlex="70" fxLayoutAlign="center end" class="about-content">
					<h1>Ciencias y<span> Humanidades.</span></h1><br><br>
				</div>
				
				<div fxFlex="3" fxLayout="column"  class="">
					<div fxFlex>
						<hr class="style-two">
					</div>
				</div>
			</div>
			
			<div fxFlex="60" fxLayout="column" class="mt-4">
				<div fxFlex="45" fxLayout="column" fxLayoutAlign="center">
					
					<!-- <span [routerLink]="['/busqueda/1/1']" class="pointer" (click)>Ciencias Ambientales y Cambio Climático.</span> -->
					<span class="pointer" (click)="route(1,1)">Ciencias Ambientales y Cambio Climático.</span>
					<span [routerLink]="['/nosotros']" class="pointer">Nutrición y Salud.</span>
					<span [routerLink]="['/nosotros']" class="pointer">Promoción de la Salud.</span>
					<span [routerLink]="['/nosotros']" class="pointer">Protección Civil y Gestiñon de Riesgos.</span>
					
				</div>
			</div>
			
			
		</div>
	</div>
</div>