<!-- <div class="container-fluid" style="padding-right: 0px; padding-left: 0px; " > -->
  <!-- <div class="container-fluid header-top" >
    <div class="container header-info">
      <div fxFlex="100" fxLayout="row" class="p-2">
        <div fxFlex="30">
          <p>Teléfono: +945 588 9966</p>
        </div>
        <div fxFlex="30">
          <p>Email: bancodetesis@uacm.edu.mx</p>
        </div>
      </div>
    </div>
  </div> -->
  
  <app-menu></app-menu>
  <router-outlet></router-outlet>
  <app-footer></app-footer>
  
  
  <!-- <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active overlay">
        <img src="/assets/home/slider/4.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>BIENVENIDO A</h5>
          <p>BANCO DE TESIS UACM</p>
        </div>
      </div>
      <div class="carousel-item overlay">
        <img src="/assets/home/slider/5.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>INFORMACIÓN PARA TI</h5>
          <p>BANCO DE TESIS UACM</p>
        </div>
      </div>
      <div class="carousel-item overlay">
        <img src="/assets/home/slider/6.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>REPOSITORIO DIGITAL</h5>
          <p>BANCO DE TESIS UACM</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div> -->

  <!-- <div class="container p-5" >
    <div class="about-content fix">
      <h3>Acerca de<span> banco de tesis</span></h3><br>
      <p class="text-center">
        Actualmente los archivos digitales comprenden una gran ventaja para recopilar, almacenar y compartir el conocimiento generado por el ser humano, 
        es por ello que la Universidad Autónoma de la Ciudad de México exhibe este espacio para el almacenamiento y consulta de los estudios generados por esta casa de estudios. 
        <br><br>
        La UACM se acerca al mundo digital para contribuir con la colección de sus investigaciones, con el fin de enriquecer la cultura y el conocimiento en nuestro país.
        La principal actividad de una Universidad es la generación del conocimiento y poderlo compartir, por ello en este sitio será posible realizar las siguientes actividades: 
        <br><br>
        • <b>Disponibilidad.</b> Las tesis estarán a disposición del usuario y no estarán restringidas para poder consultarse, no habrá un numero de copias limitadas o 
        bien acudir a un lugar físico que establezca horarios. 
        <br><br>
        • <b>Almacenamiento electrónico.</b> No será necesario acudir a algún lugar físico para obtener un archivo o tesis, 
        ya que debido a los alcances electrónicos estará almacenado para la disposición de los usuarios en todo momento.
        <br><br>
        • Servicios de búsqueda y navegación sobre la colección.
      </p>
    </div>
  </div> -->
  
  <!-- <div>
    <div fxFlex="100" fxLayout="column" fxLayout.gt-sm="row">
      <div fxFlex="100" fxFlex.gt-sm="50" >
        <img src="/assets/home/bottom/1.jpg" class="d-block w-100" alt="...">
      </div>

      <div fxFlex="100" fxFlex.gt-sm="50" fxLayout="column" fxLayoutAlign="center center" class="amenities " >
        
        <div fxFlex="36" fxLayout="column"  class="">
          <div fxFlex="70" fxLayoutAlign="center end">
            <h2>CATÁLOGO</h2>
          </div>
          <div fxFlex="27" fxLayoutAlign="center center">
            <span>Conoce nuestros metodos de busqueda.</span>
          </div>
          <div fxFlex="3" fxLayout="column"  class="">
            <div fxFlex>
              <hr class="style-two">
            </div>
          </div>
        </div>
        
        <div fxFlex="30" fxLayout="column">
          <div fxFlex="45" fxLayoutAlign="center end">
            Búsqueda por:
          </div>
          <div fxFlex="25" fxLayoutAlign="center center">
            Licenciatura Fecha Titulo
          </div>
          <div fxFlex="3" fxLayout="column"  class="">
            <div fxFlex>
              <hr class="style-two">
            </div>
          </div>
        </div>
        
        <div fxFlex="30'" fxLayout="column">
          <div fxFlex="20" fxLayoutAlign="center center">
            Búsqueda por autor
          </div>
          <div fxFlex="20" fxLayoutAlign="center center">
            ABCDEF
          </div>
          <div fxFlex="3" fxLayout="column"  class="">
            <div fxFlex>
              <hr class="style-two">
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div> -->

  <!-- <div class="container p-5 copyright">
    Copyright &copy; Universidad Autonoma de la Ciudad de México
  </div> -->
  
        

    
        
  
<!-- </div> -->




