<div class="page-banner-area ">
	<div class="container">
		<div class="row">
			<div class="page-banner">
				<h1>Nosotros</h1>
				<span class="color-white">
					<a class="color-white" [routerLink]="['/inicio']">INICIO</a> / 
					<a class="color-white" [routerLink]="['/nosotros']">NOSOTROS</a>
				</span>
			</div>
		</div>
	</div>
</div>

<div class="container p-5" >
	<div class="about-content fix">
		<h3>Acerca de<span> banco de tesis</span></h3><br>
		<p class="text-center">
			Actualmente los archivos digitales comprenden una gran ventaja para recopilar, almacenar y compartir el conocimiento generado por el ser humano, 
			es por ello que la Universidad Autónoma de la Ciudad de México exhibe este espacio para el almacenamiento y consulta de los estudios generados por esta casa de estudios. 
			<br><br>
			La UACM se acerca al mundo digital para contribuir con la colección de sus investigaciones, con el fin de enriquecer la cultura y el conocimiento en nuestro país.
			La principal actividad de una Universidad es la generación del conocimiento y poderlo compartir, por ello en este sitio será posible realizar las siguientes actividades: 
			<br><br>
			• <b>Disponibilidad.</b> Las tesis estarán a disposición del usuario y no estarán restringidas para poder consultarse, no habrá un numero de copias limitadas o 
			bien acudir a un lugar físico que establezca horarios. 
			<br><br>
			• <b>Almacenamiento electrónico.</b> No será necesario acudir a algún lugar físico para obtener un archivo o tesis, 
			ya que debido a los alcances electrónicos estará almacenado para la disposición de los usuarios en todo momento.
			<br><br>
			• Servicios de búsqueda y navegación sobre la colección.
		</p>
	</div>
</div>
