/* You can add global styles to this file, and also import other style files */

@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";

.color-white {
	color: #FFFFFF;
}

.pointer {
	cursor: pointer;
}


.overlay {
	position: relative;
}
.overlay::before {
	background: #af926a;
	background: -moz-linear-gradient(left, #af926a 0%, #cc6a35 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, #af926a), color-stop(100%, #cc6a35));
	background: -webkit-linear-gradient(left, #af926a 0%, #cc6a35 100%);
	background: -o-linear-gradient(left, #af926a 0%, #cc6a35 100%);
	background: -ms-linear-gradient(left, #af926a 0%, #cc6a35 100%);
	background: linear-gradient(to right, #af926a 0%, #cc6a35 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$theme-color-1', endColorstr='$theme-color-2', GradientType=1 );
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	opacity: 0.8;
	content: "";
}